#addDriverBtn{
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    margin-top: 5px;
    background-color: black;
    color: white;
    cursor: pointer;
}
#addDriverBtn:hover{
    background-color: #fbcd22;
    color: black;
}

.modal-wrapper{
    display: none;
    position: fixed;
    width: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
    height: 100%;
    z-index: 100;
    top: 0;
    left: 0;
    padding-left: 115px;
}
.create-modal{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.create-modal-content{
    background-color: #fefefe;
    margin: 10px 0;
    padding: 20px;
    border: 1px solid #888;
    width: 600px;
    box-shadow: 5px 10px;
}

.create-modal-close {
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}
.create-modal-content hr{
    border-bottom: solid 2px black;
    margin-bottom: 10px;
}
  
  /* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.create-modal .create-modal-content form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.create-modal .create-modal-content form input{
    margin-bottom: 10px;
    border-radius: 10px;
    width: 80%;
    font-size: 16px;
    padding: 10px;
    border: solid 1px black;
    box-shadow: 2px 1px;
}

.create-modal .create-modal-content form .buttons button{
    font-size: 16px;
    padding: 5px;
    border-radius: 10px;
    border: solid 1px black;
    cursor: pointer;
}
.create-modal .create-modal-content form .buttons #cancel-btn:hover{
    color: white;
    background-color: red;

}
.create-modal .create-modal-content form .buttons #submit-btn:hover{
    color: white;
    background-color: green;
}

.two-column {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}

.column {
    flex-basis: calc(50% - 10px);
    /* Adjust the flex-basis value as needed */
    padding: 0 5px;
}

/* Style the "Available" checkbox */
.create-modal-content input[type="checkbox"]#available {
    margin-top: 10px; /* Adjust as needed */
    margin-right: 5px; /* Adjust as needed */
    vertical-align: middle;
}

.create-modal-content label[for="available"] {
    vertical-align: middle;
    font-size: 16px;
    margin-right: 10px;
}

/* Style the "Available" checkbox appearance */
.create-modal-content input[type="checkbox"]#available {
    /* Hide the default checkbox appearance */
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid black;
    background-color: white;
    cursor: pointer;
}

.create-modal-content input[type="checkbox"]#available:checked {
    background-color: green;
    border: 1px solid black;
}

/* Style the "Available" checkbox label */
.create-modal-content label[for="available"] {
    font-size: 16px;
    cursor: pointer;
}


