.table-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
}

.tableBody {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.tableBody th, .tableBody td {
    padding: 10px;
    border: 1px solid black;
}

.tableBody th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.profile-picture {
    width: 50px; 
    height: 50px;
  }

