.table-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
}

.tableBody {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.tableBody th, .tableBody td {
    padding: 3px;
    border: 1px solid black;
    font-size: 12px;
}

.tableBody th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.profile-picture {
    width: 40px; 
    height: 40px;
  }
  #lightBox-loader{
    background: #00000025;
    height: 100%;
    width: 100%;
    position: absolute;
    display: none;
}
  #lightBox-loader img{
    margin: 0 auto;
    display: block;
    position: relative;
    width: 250px;
    padding-top: 15%;
}