.userTable-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin: 20px 10px;
}

.userTableBody {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.userTableBody th, .tableBody td {
    padding: 3px;
    border: 1px solid black;
    font-size: 12px;
}

.userTableBody th {
    background-color: #f2f2f2;
    font-weight: bold;
}

